/node_modules
/package-lock.json
.DS_Store
# VS Code Config file
.vscode/
# Vuepress Cache
.cache/
# Vuepress Temp
.temp/
# Vuepress Output
dist/
# Build files
packages/*/lib/
# IDEA工程文件
.idea/
*.iml
# SVN控制目录
.svn/
# 备份文件
*.bak
zip/
/bin
*.log